.about {
  margin: 150px 0 0 60px;
  height: 100vh;
  padding: 150px 80px;
}

.about-text {
  text-align: justify;
  width: 600px;
}

.linkedin-btn {
  width: 150px;
  font-size: 1.4rem;
  color: #fff;
  height: 50px;
  background-color: var(--primary);
}
