.about {
  height: fit-content;
  padding: 150px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.about-text {
  text-align: justify;
  width: 800px;
  margin-bottom: 20px;
}

.networks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.networks-btn {
  width: 50px;
  margin: 0 0 20px 20px;
}

.networks-btn:hover {
  filter: brightness(0.8);
}

.photo-container {
  background-color: var(--primary);
  border-radius: 40%;
}

.photo {
  border-radius: 50% 500px;
}

@media screen and (max-width: 1600px) {
  .about-text {
    width: 700px;
  }

  .photo {
    width: 400px;
  }
}

@media screen and (max-width: 1400px) {
  .about {
    flex-direction: column;
    align-items: center;
    height: 130vh;
  }

  .about-text {
    width: 800px;
  }

  .photo {
    width: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .about {
    margin: 0 20px 0 20px;
    height: fit-content;
  }

  .about-text {
    font-size: 14px;
    width: 600px;
  }

  .linkedin-btn {
    width: 120px;
    height: 40px;
  }

  .photo {
    width: 200px;
  }
}

@media screen and (max-width: 700px) {
  .about-text {
    width: 460px;
  }
}

@media screen and (max-width: 530px) {
  .about-text {
    width: 300px;
  }
}
