.contact {
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 150px 80px;
  background-color:  rgb(12, 11, 11);
  ;
}

.contact h1 {
  font-size: 40px;
  color: var(--light);
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .contact {
    padding: 150px 60px;
  }

  .contact h1 {
    text-align: center;
    margin-bottom: 30px;
  }
}
