.footer {
  height: 60px;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .footer span {
    font-size: 10px;
  }
}
